.Project {
  margin: 15px 0;
  position: relative;
}

.Head {
  display: flex;
  align-content: center;
}

.Skills {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.Title {
  color: #eb147f;
}

.Link {
  margin-top: 10px;
  color: rgba(83, 83, 83, 0.8);
  &:hover {
    color: #eb147f;
  }
}

.date {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80%;
  color: #00000039;
  margin-left: auto;
  position: relative;
  font-style: italic;
}
